@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important;

}
.container1{
    margin-right: 20%;
    display: flex;
}
span p{
  
    font-size: 17px;
    color: black;
    
}
button{
    background-color: #61CE70;
}
.input{
    margin-left: 10rem;
    padding: 10px;
    
   
}
.shadow{
    margin-left: 25%;
}
/* .btn{
    padding: 20px;
    margin-left: 2%;
    margin: 2px;
    width: 30%;
} */


/* Login css

*/